<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Fix-it Buddy</title>
    <style>
        .carousel-item {
            height: 65vh;
            min-height: 350px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            font-family: 'Titillium Web', sans-serif;
        }

        .card:hover {
            cursor: pointer;
        }

        .list-group-item:hover {
            background-color: black;
            color: whitesmoke;
        }

        a:hover {
            text-decoration: none;
        }

        a {
            color: black;
        }

        ul {
            list-style: none;
        }

        hr {
            border: 0.4px solid rgb(163, 163, 117);
        }

        .anc {
            color: white;
        }

        .anc:hover {
            text-decoration: none;
        }

        .dropper:hover {
            cursor: pointer;
        }

        small {
            font-size: 14px;
            font-weight: 600;
        }

        .upbutton {
            width: 3.5rem;
            height: 3.5rem;
            background-color: #feca57;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            right: 5%;
            bottom: 0;

            align-self: flex-end;
            animation-duration: 2s;
            animation-iteration-count: infinite;

        }

        .bounce-1 {

            animation-name: bounce-1;
            animation-timing-function: linear;
        }

        @keyframes bounce-1 {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-30px);
            }

            100% {
                transform: translateY(0);
            }
        }
    </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            {{#if userlogin}}
            <a class="navbar-brand" href="/?userlogin=true"><img src="./logo.png" height="32px"></a>
            {{else}}
            <a class="navbar-brand" href="/"><img src="./logo.png" height="32px"></a>
            {{/if}}

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto text-dark">
                    {{!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li> --}}
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    {{#if userlogin}}
                    {{!-- <li>
                        <div class="btn-group">
                            <a href="#" class="btn-md btn-basic dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                My Account
                            </a>
                            <div class=" dropdown-menu dropdown-menu-right">
                                <a href="/profile" class="dropdown-item" type="button">My Profile</a>
                                <a href="/logout" class="dropdown-item" type="button">Logout</a>
                            </div>
                        </div>
                    </li> --}}
                    <li class="btn-group dropper">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><small>Hello {{user.firstname}}</small><br><span>My Account</span>
                        </a>
                        <div class=" dropdown-menu ">
                            <a href="/profile" class="dropdown-item" type="button">My Profile</a>
                            <a href="/logout" class="dropdown-item" type="button">Logout</a>
                        </div>
                    </li>



                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/signuplogin">Login/Sign Up</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>

    <header id="top">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->

                <div class="carousel-item active"
                    style="background-image: url('https://res.cloudinary.com/urbanclap/image/upload/fl_progressive,t_medium_res_template/categories/home_screen_v3/discover/promocards/Web+Luminosity/Ac-Repair_Luminosity_Desktop.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <a href="/ac-repair" class="text-white">
                            <h3 class="display-4">A.C. Maintenance & Services</h3>
                            <p class="lead">Get your A.C. fixed within 24 hrs with Fix-it Buddy.</p>
                        </a>
                    </div>
                </div>

                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item"
                    style="background-image: url('https://res.cloudinary.com/urbanclap/image/upload/fl_progressive,t_medium_res_template/categories/home_screen_v3/discover/promocards/Web+Luminosity/Professional-Bathroom-Cleaning_Luminosity_Desktop.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <a href="/bathroom-cleaning" class="text-white">
                            <h3 class="display-4">Best Bathroom Deep Cleaning Service in whole Delhi-NCR</h3>
                            <p class="lead">Mechanized Equipment & Professional Cleaning solutions.</p>
                        </a>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item text-white"
                    style="background-image: url('https://res.cloudinary.com/urbanclap/image/upload/fl_progressive,t_medium_res_template/categories/home_screen_v3/discover/promocards/Web+Luminosity/yoga-All_Desktop-1.jpg'); ">
                    <div class="carousel-caption d-none d-md-block text-white">
                        <a href="/fitness" class="text-white">
                            <h3 class="display-4">Best Fitness Trainers in Delhi-NCR</h3>
                            <p class="lead">Get 12 sessions in 4 weeks & Train with a certified trainer.</p>
                        </a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!-- Page Content -->
    {{!-- <section class="py-5">
        <div class="container">
            <h1 class="font-weight-light">Half Page Image Slider</h1>
            <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The
                images in this snippet are from <a href="https://unsplash.com">Unsplash</a>!</p>
        </div>
    </section> --}}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h3 class="my-4">Fix-it Buddy
            <small>Services</small>
        </h3>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100" id="cleaning">
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/urbanclap/image/upload/w_600,q_auto,f_auto,fl_progressive:steep/categories/category_v2/category_b8c1dd10.jpeg"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            Cleaning
                        </h5>
                        <p class="card-text">Does deep cleaning your house seem like an overwhelming chore to you,
                            and you do not know where to start? Don’t worry! Plenty of people feel that way when it
                            comes
                            to cleaning their homes.
                            The good news is that there is a simple solution to this problem which is
                            hiring professionals offering home cleaning services in Delhi from Fix-it Buddy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100" id="electrician">
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/urbanclap/image/upload/w_600,q_auto,f_auto,fl_progressive:steep/categories/category_v2/category_a9373930.jpeg"
                        alt="">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            Electrician & Plumber
                        </h5>
                        <p class="card-text">In this day and time, we are completely dependent on electricity. Even a
                            power
                            cut of 20 minutes gets on our nerves. Any small breakdown or malfunction can affect our
                            everyday
                            schedule, jolting it to a standstill.
                            Fix-it Buddy is one solution to all your problems. Fix-it Buddy connects you to the
                            best electricians in Delhi.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100" id="appliances">
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/urbanclap/image/upload/w_600,q_auto,f_auto,fl_progressive:steep/categories/category_v2/category_5612ca90.png"
                        alt="" style="max-height: 132px; height:132px;">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            Appliances & Electronics Repair
                        </h5>
                        <p class="card-text">Like any other machinery, an appliance needs to be maintained and looked
                            after
                            for its healthy functioning.
                            Hence, the appliance should receive a proper service. Fix-it Buddy is one solution to all
                            your problems.
                            Fix-it Buddy connects you to the
                            best engineers and technicians in Delhi.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100" id="fitness">
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/urbanclap/image/upload/w_600,q_auto,f_auto,fl_progressive:steep/categories/category_v2/category_0e222da0.jpeg"
                        alt="" style="max-height: 132px; height:132px;">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            Fitness & Yoga
                        </h5>
                        <p class="card-text">With pollution becoming such an issue especially in Delhi and its
                            surrounding areas,
                            more and more people are feeling the need to start taking their health seriously.
                            Which is why Fix-it Buddy brings to you Fitness Trainers at Home,
                            who can help you regain your health right from the comfort of your home.</p>
                    </div>
                </div>
            </div>

            <!-- /.row -->

            



            <!-- Modal -->
            <div class="modal fade" id="cleaningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">

                            <div class="list-group list-group-flush">
                                {{#if userlogin}}
                                {{#each cleaning}}
                                <a href="service?userlogin=true&id={{_id}}"
                                    class="list-group-item border-0 mt-1 rounded">{{name}}</a>
                                {{/each}}
                                {{else}}
                                {{#each cleaning}}
                                <a href="service?id={{_id}}" class="list-group-item border-0 mt-1 rounded">{{name}}</a>
                                {{/each}}
                                {{/if}}

                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <!-- Modal -->
            <div class="modal fade" id="electricianModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">

                            <div class="list-group list-group-flush">
                                {{#if userlogin}}
                                {{#each electricianPlumbing}}
                                <a href="service?userlogin=true&id={{_id}}"
                                    class="list-group-item border-0 mt-1 rounded">{{name}}</a>
                                {{/each}}
                                {{else}}
                                {{#each electricianPlumbing}}
                                <a href="service?id={{_id}}" class="list-group-item border-0 mt-1 rounded">{{name}}</a>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="appliancesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">

                            <div class="list-group list-group-flush">
                                {{#if userlogin}}
                                {{#each appliancesRepair}}
                                <a href="service?userlogin=true&id={{_id}}"
                                    class="list-group-item border-0 mt-1 rounded">{{name}}</a>
                                {{/each}}
                                {{else}}
                                {{#each appliancesRepair}}
                                <a href="service?id={{_id}}" class="list-group-item border-0 mt-1 rounded">{{name}}</a>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="fitnessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-body">

                            <div class="list-group list-group-flush">
                                {{#if userlogin}}
                                {{#each fitnessYoga}}
                                <a href="service?userlogin=true&id={{_id}}"
                                    class="list-group-item border-0 mt-1 rounded">{{name}}</a>
                                {{/each}}
                                {{else}}
                                {{#each fitnessYoga}}
                                <a href="service?id={{_id}}" class="list-group-item border-0 mt-1 rounded">{{name}}</a>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>




    </div>
    <!-- /.container -->
    <div class="upbutton bounce-1">
        <a href="#top"><i class="fa fa-arrow-up fa-w-14"></i></a>
    </div>







    <footer class="py-5 bg-dark w-100">
        <ul class="list-group list-group-horizontal-sm offset-9">
            <li>
                <a class="anc" href="/aboutus">About Us</a>
            </li>
            <li class=" ml-3">
                <a class="anc" href="/contactus">Contact Us</a>
            </li>
            <li class=" ml-3">
                <a class="anc" href="/admin">Admin Panel</a>
            </li>
        </ul>
        <hr />
        <p class="m-0 mr-5 text-center text-white">Copyright &copy; Fix-it Buddy 2019</p>
        <ul class="list-group list-group-horizontal-sm offset-5 mt-2">
            <li class="ml-5"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-lg"
                        style="color: white;"></i></a></li>
            <li class=" ml-3"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square fa-lg"
                        style="color: white;"></i></a></li>
            <li class=" ml-3"><a href="https://twitter.com/?lang=en" target="_blank"><i
                        class="fa fa-twitter-square fa-lg" style="color: white;"></i></a></li>
        </ul>



        <!-- /.container -->
    </footer>



</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script>
    
    $("#cleaning").click(function () {
        $("#cleaningModal").modal("show")

    })
    $("#electrician").click(function () {
        $("#electricianModal").modal("show")

    })
    $("#appliances").click(function () {
        $("#appliancesModal").modal("show")

    })
    $("#fitness").click(function () {
        $("#fitnessModal").modal("show")

    })
</script>

</html>