<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Fix-it Buddy</title>
    <style>
        .carousel-item {
            height: 65vh;
            min-height: 350px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            font-family: 'Titillium Web', sans-serif;
            overflow-x: hidden;
        }

        .card:hover {
            cursor: pointer;
        }

        .list-group-item:hover {
            background-color: black;
            color: whitesmoke;
        }

        a:hover {
            text-decoration: none;
            cursor: pointer;
            color: white !important;
        }

        a {
            color: black;
        }

        footer {
            width: 100%;

            bottom: 0px;
        }

        ul {
            list-style: none;
        }

        hr {
            border: 0.4px solid rgb(163, 163, 117);
        }

        .anc {
            color: white;
        }

        .anc:hover {
            text-decoration: none;
        }

        .main {
            min-height: 80vh;
        }
    </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/?userlogin=true"><img src="./logo.png" height="32px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto text-dark">
                    {{!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li> --}}
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="btn-group dropper">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">My Account
                        </a>
                        <div class=" dropdown-menu ">
                            <a href="/profile" class="dropdown-item" type="button">My Profile</a>
                            <a href="/logout" class="dropdown-item" type="button">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {{!-- <div class="container"> --}}
    <div class="mt-5">
        <div class="row ml-5 mt-5 mb-5 main">
            <div class="col-md-2 mt-5 border rounded p-4 d-inline-block h-25 bg-light">
                {{!-- <div class="list-group list-group-flush">
                <a class="list-group-item border-0 mt-1 rounded">DASHBOARD</a>
            </div> --}}
                <div class="list-group list-group-flush " id="userInfo">
                    <a class="list-group-item border-0 mt-1 rounded">INFORMATION</a>
                </div>
                <div class="list-group list-group-flush" id="infoUpdate">
                    <a class="list-group-item border-0 mt-1 rounded">EDIT PROFILE</a>
                </div>
                <div class="list-group list-group-flush" id="addressUpdate">
                    <a class="list-group-item border-0 mt-1 rounded">ADD NEW ADDRESS</a>
                </div>
                <div class="list-group list-group-flush" id="myBooking">
                    <a class="list-group-item border-0 mt-1 rounded">MY BOOKING</a>
                </div>
            </div>
            <div class="col-md-8 mt-5 offset-1 border rounded p-3" id="infoBox">
                <div class="row">
                    <div class="col-md-4">
                        {{#if user.photo}}
                        <img src="{{user.photo}}" height="100px" width="100px">
                        {{else}}
                        <img class="rounded-circle"
                            src="https://sophosnews.files.wordpress.com/2013/08/facebook-silhouette_thumb.jpg"
                            height="200px" width="200px" alt="new pic">
                        {{/if}}
                    </div>
                    <div class="col-md-8">
                        <p>FIRST NAME: <span>{{user.firstname}}</span></p>
                        <p>LAST NAME: <span>{{user.lastname}}</span></p>
                        <p>EMAIL: <span>{{user.email}}</span></p>
                        <p>CONTACT NO. : <span>{{user.mobile}}</span></p>


                        <p>ADDRESS: <span>{{#each user.inputAddress}}{{#if @last}}{{this}}{{/if}}{{/each}}
                                {{#each user.inputAddress2}}{{#if @last}}{{this}}{{/if}}{{/each}}
                                {{#each user.inputCity}}{{#if @last}}{{this}}{{/if}}{{/each}}
                                {{#each user.inputState}}{{#if @last}}{{this}}{{/if}}{{/each}}
                                {{#each user.inputZip}}{{#if @last}}{{this}}{{/if}}{{/each}}
                            </span></p>
                    </div>
                </div>
            </div>

            <div class="col-md-8 mt-5 offset-1 border rounded p-3" id="infoUpdateBox">
                <form method="POST" action="/updateuserinfo" class="mt-5" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="photo" class="col-sm-2 col-form-label">User Photo</label>
                        <div class="col-sm-10">
                            <input type="file" id="photo" name="photo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstname" name="firstname"
                                placeholder="First Name" value="{{user.firstname}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastname" name="lastname"
                                placeholder="Last Name" value="{{user.lastname}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="mobile" class="col-sm-2 col-form-label">Mobile</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Mobile"
                                value="{{user.mobile}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control-plaintext" id="staticEmail"
                                value="email@example.com">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="currentPassword" class="col-sm-2 col-form-label">Current Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="currentPassword" placeholder="******"
                                name="currentPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="newPassword" class="col-sm-2 col-form-label">New Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="newPassword" placeholder="******"
                                name="newPassword">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cfNewPassword" class="col-sm-2 col-form-label">Confirm New Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="cfNewPassword" placeholder="******"
                                name="cfNewPassword">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="profileButton">Save Changes</button>
                </form>


            </div>

            <div class="col-md-8 mt-5 offset-1 border rounded p-4" id="addressUpdateBox">
                <form method="POST" action="/updateAddress" class="mt-5">

                    <div class="form-group">
                        <label for="inputAddress">Address Line 1</label>
                        <input type="text" class="form-control" id="inputAddress" name="inputAddress"
                            placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address Line 2</label>
                        <input type="text" class="form-control" id="inputAddress2" name="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity" name="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control" name="inputState">
                                <option selected>Choose...</option>
                                <option>Delhi</option>
                                <option>Uttar Pradesh</option>
                                <option>Haryana</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip" name="inputZip">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>

            <div class="col-md-8 mt-5 offset-1 border roundeed border-primary p-3 bg-light" id="myBookingBox">
                <h4 class="text-center">Current Bookings</h4>
                {{#each user.price}}
                <div class="row offset-1 mt-4">
                    <div class="col-md-7 border rounded p-2 bg-white border-primary">
                        <span class="offset-md-4 badge badge-info badge-pill">{{this.[4]}}</span>

                        <ol class="list-group mt-4">

                            Booking
                            <li class="list-group-item list-group-item-primary mt-1">
                                Rs.{{this.[0]}}
                            </li>
                            <li class="list-group-item list-group-item-primary mt-1">
                                {{this.[1]}}
                            </li>
                            <li class="list-group-item list-group-item-primary mt-1">
                                {{this.[2]}}
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-3 border rounded p-2 bg-white border-primary">
                        <ul class="list-group">
                            <li class="list-group-item text-center"><b>Invoice</b></li>
                            <li class="list-group-item">Service Cost: <b>{{this.[0]}}</b> </li>
                            <li class="list-group-item">GST: <b>18%</b></li>
                            <li class="list-group-item">VAT: <b>5%</b></li>
                            <li class="list-group-item list-group-item-primary">Total amount to Paid :
                                <b>{{this.[3]}}</b> </li>
                        </ul>
                    </div>
                </div>

                {{/each}}


            </div>
        </div>
    </div>

    {{!-- </div> --}}


    <footer class="py-5 bg-dark">
        <ul class="list-group list-group-horizontal-sm offset-9">
            <li>
                <a class="anc" href="/aboutus">About Us</a>
            </li>
            <li class=" ml-3">
                <a class="anc" href="/contactus">Contact Us</a>
            </li>
            <li class=" ml-3">
                <a class="anc" href="/admin">Admin Panel</a>
            </li>
        </ul>
        <hr />
        <p class="m-0 mr-5 text-center text-white">Copyright &copy; Fix-it Buddy 2019</p>
        <ul class="list-group list-group-horizontal-sm offset-5 mt-2">
            <li class="ml-5"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-lg"
                        style="color: white;"></i></a></li>
            <li class=" ml-3"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square fa-lg"
                        style="color: white;"></i></a></li>
            <li class=" ml-3"><a href="https://twitter.com/?lang=en" target="_blank"><i
                        class="fa fa-twitter-square fa-lg" style="color: white;"></i></a></li>
        </ul>



        <!-- /.container -->
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="js/profile.js"></script>

</html>